.input{
        padding: 16px 16px 16px 60px;
        border: 1px solid grey;
        background: rgba(0, 0, 0, 0.003);
        box-shadow: 4px 4px rgba(128, 128, 128, 0.3),8px 8px rgba(128, 128, 128, 0.3);
        margin:auto;
        display: block;
        width:350px;
        font-size:20px;
        color: rgba(128,128,128);
}